
<div [hidden]="isLoggedIn">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
      Zaloguj się
    </button>
    <button class="btn btn-success" type="submit" routerLink="/user/signup">
      Zarejestruj się
    </button>
  </div>
  <div [hidden]="!isLoggedIn">
    <span> Cześć, {{username}} </span>
    <button class="btn btn-warning" type="submit" (click)="logout()">Wyloguj się</button>
  </div>
  
  
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <form class="form-inlin" name="signin" #signin="ngForm">
              <div class="form-group row">
                <input class="form-control col-md-12" name="login" type="login" id="inputLogin" placeholder="Login"
                  [(ngModel)]="model.username" #login="ngModel" required minlength="6" maxlength="50" required>
              </div>
              <div class="form-group row">
                <input class="form-control col-md-12" name="mainPassword" type="password" id="inputMainPassword"
                  placeholder="Hasło" [(ngModel)]="model.password" #mainPassword="ngModel" required minlength="8"
                  maxlength="80" required>
              </div>
              <div class="form-group row">
                <button class="btn btn-success" type="submit" (click)="confirm()"
                  [disabled]="!signin.form.valid">Zaloguj</button>
                <button class="btn btn-failure" type="submit" data-dismiss="modal">Anuluj</button>
              </div>
              <div [hidden]="!isLoginFailed">
                {{errorMessage}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>